@media only screen and (min-width : 1280px) {
    .parentContainer {
        max-width: 60%;
    }
}

@media screen and (min-width: 1028px) and (max-width: 1270px) {

    #rpm,
    #kg {
        float: right;
        width: 20%;
        margin-block: auto;
        margin-right: 87px;
    }
}

@media only screen and (max-width : 780px) {
    .sidebar {
        position: fixed;
        padding: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        backdrop-filter: blur(10rem);
        z-index: 101;
        border-radius: 0;
        /* scroll-behavior: auto; */
    }

    .tool-menu {
        list-style: none;
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size: 2.4rem;
        justify-content: space-evenly;
    }

    .tool-link:link,
    .tool-link:visited {
        /* gap: 0.5rem; */
        font-size: 1.4rem;
        flex-direction: column;
    }

    /* .icons {
        width: 2rem;
        height: 2rem;
    }  */
    
    .tool-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 1;
        width: 100%;
    }

    .tool-list span {
        font-size: 1rem;
    }

    .footerBox {
        margin-bottom: 71px;
    }

    .usercheck {
        margin: 15px;

    }
}

@media only screen and (max-width:540px) {
    .tool-menu {
        gap: 0;
    }

    .footerBox {
        margin-bottom: 71px;
    }
}

@media only screen and (max-width: 870px) {

    #rpm,
    #kg {
        float: right;
        width: 20%;
        margin-block: auto;
        margin-right: 124px;
    }

    .secondColumn {
        display: flex;
        flex: auto;
        flex-direction: column;
    }

    #variables,
    #controls {
        width: -webkit-fill-available;
    }

    #firstRow {
        display: flex;
        flex-direction: column;
    }

    .firstCol {
        margin-right: 10px;
        margin-bottom: 0px;
    }

    .usercheck {
        margin: 15px;
    }

    #goTOExperiment {
        margin-bottom: 15px;
    }

    /* #exp {
        left: 212px;
         top: 182px;
    } */
    /* #variables {
        align-items: center;
    } */
}


@media screen and (max-width: 690px) {

    .secondColumn {
        display: flex;
        flex: auto;
        flex-direction: column;
    }

    #firstRow {
        display: flex;
        flex-direction: column;

    }

    #goToExperiment {
        margin-bottom: 50px;
    }

    .imageRow {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .variables {
        align-items: center;
    }

    #myImg {
        height: 295px;
    }

    #dropFlyBall {
        position: absolute;
        left: 432px;
        top: 245px;
    }


    #partImage {
        height: 225px;
        position: absolute;
        top: 169px;
        left: 118px;
    }

    #dropPivot {
        position: absolute;
        left: 318px;
        top: 197px;
    }

    #dropConnectingRod {
        position: absolute;
        left: 30px;
        top: 298px;
    }

    #dropArm {
        position: absolute;
        left: 82px;
        top: 196px;
    }

    #dropSpindle {
        position: absolute;
        left: 111px;
        top: 362px;
    }

    #dropSleeve {
        position: absolute;
        left: 320px;
        top: 338px;
    }

    #partTitle {
        left: 148px;
    }

    div#commentboxleft {
        text-align: center;

    }

    /* #variables {
        align-items: center;
    } */
}

@media screen and (min-width: 680px) and (max-width: 880px) {
    #partTitle {
        position: absolute;
        left: 325px;
        top: 164px;
    }

    #partImage {
        height: 182px;
        position: absolute;
        top: 273px;
        left: 310px;

    }

    #dropPivot {
        position: absolute;
        left: 475px;
        top: 294px;
    }

    #dropFlyBall {
        position: absolute;
        left: 565px;
        top: 332px;
    }

    #dropSleeve {
        position: absolute;
        left: 475px;
        top: 407px;
    }

    #dropSpindle {
        position: absolute;
        left: 294px;
        top: 428px;
    }

    #dropConnectingRod {
        position: absolute;
        left: 274px;
        top: 375px;
    }

    #dropArm {
        position: absolute;
        left: 268px;
        top: 293px;
    }

    .questionDivision {
        position: absolute;
        left: 318px;
        top: 489px;
        font-size: 11px;
        font-weight: 600;
    }

    #qHeight {
        position: absolute;
        left: 442px;
        top: 489px;
        font-size: 11px;
        font-weight: 600;
    }

    #qRpm {
        left: 417px;
        top: 474px;
        font-size: 11px;
        font-weight: 600;
    }
    
}
@media screen and (min-width: 330px) and (max-width: 450px){
    #rpm, #kg {
        float: right;
        width: 20%;
        margin-block: auto;
        margin-right: 6px;
    }
}

@media screen and (min-width: 400px) and (max-width: 530px) {
    #partImage {
        height: 182px;
        position: absolute;
        top: 224px;
        left: 68px;
    }

    #pivot {
        width: 64px;
    }

    #flyball {
        width: 54px;
    }

    #sleeve {
        width: 64px;
    }

    #connectingRod {
        width: 64px;

    }

    #dropPivot {
        position: absolute;
        left: 233px;
        top: 241px;
    }

    #dropFlyBall {
        position: absolute;
        left: 322px;
        top: 284px;
    }

    #dropConnectingRod {
        position: absolute;
        left: 32px;
        top: 327px;
    }

    #dropArm {
        position: absolute;
        left: 30px;
        top: 245px;
    }

    #dropSpindle {
        position: absolute;
        left: 52px;
        top: 379px;
    }

    #dropSleeve {
        position: absolute;
        left: 232px;
        top: 356px;
    }

    /* .questionDivision {
        left: 274px;
        font-size: smaller;
    } */
    .questionDivision {
        position: absolute;
        left: 261px;
        top: 449px;
        font-size: 11px;
        font-weight: 600;
    }
}


@media screen and (min-width: 340px) and (max-width: 400px) {
    #partImage {
        height: 166px;
        position: absolute;
        top: 268px;
        left: 78px;
    }


    #pivot {
        width: 64px;
    }

    #flyBall {
        width: 35px;
    }

    #sleeve {
        width: 79px;
    }

    #connectingRod {
        width: 50px;

    }

    #arm {
        width: 50px;
    }

    #dropPivot {
        position: absolute;
        left: 224px;
        top: 285px;
    }

    #dropFlyBall {
        position: absolute;
        left: 300px;
        top: 323px;
    }

    #dropConnectingRod {
        position: absolute;
        left: 46px;
        top: 361px;
    }

    #dropArm {
        position: absolute;
        left: 53px;
        top: 288px;
    }

    #dropSpindle {
        position: absolute;
        left: 60px;
        top: 408px;
    }

    #dropSleeve {
        position: absolute;
        left: 229px;
        top: 391px;
    }

    #exp {
        left: 10px;
        font-size: 15px;

    }

    fieldset {
        margin-left: 20px;
    }

    /* .questionDivision {
    position: absolute;
    left: 256px;
    top: 401px; 
} */

    /* .questionDivision {
    font-size: small;
    left: 147px;
    top: 424px;
} */
    #partTitle {
        position: absolute;
        left: 84px;
        top: 180px;
    }

    .questionDivision {
        position: absolute;
        left: 221px;
        top: 450px;
        font-size: 10px;
        font-weight: bold;
    }
}

@media screen and (min-width: 530px) and (max-width: 680px) {
    .questionDivision {
        position: absolute;
        left: 312px;
        top: 478px;
        font-size: 14px;
        font-weight: 600;
    }
}

@media screen and (min-width:0px) and (max-width: 389px) {
    .questionDivison {
        position: absolute;
        left: 214px;
        top: 425px;
        font-size: 11px;
    }
}
@media screen and (min-width: 450px) and (max-width: 480px) {
    #rpm,#kg{
        margin-right: 29px;
    }
}
@media screen and (min-width: 480px) and (max-width: 629px) {
    #rpm,#kg{
        margin-right: 72px;
    }
}
@media screen and (min-width: 310px) and (max-width: 330px) {
#rpm,#kg{
    margin-right: 9px;
}
}